.active {
    font-weight: 500;
    background-color: #eff6fc;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 2px;
        background-color: #2564cf;
        z-index: 1;
    }
}

.mobileActive {
    font-weight: 500;
    background-color: #eff6fc;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: #2564cf;
        z-index: 1;
    }
}

.container {
    color: white;
    background: linear-gradient(145deg, #2193b0, #6dd5ed);
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.search-bar {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.search-icon {
    margin-right: 5px;
    position: absolute;
    left: 0;
}

.search-input {
    border: 0;
    outline: 0;
    padding: 3px 3px 3px 20px;
    background: transparent;
    height: 20px;
    color: white;
    width: 100%;

    &::placeholder {
        color: rgb(206, 206, 206);
    }
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 0 50px;
    margin: 80px 0;
}

.city-name {
    font-size: 20px;
    margin-bottom: 3px;
}

.weather-state {
    font-size: 13px;
}

.weather-icon {
    width: 70px;
    height: 70px;
}

.temperature {
    font-size: 80px;
    font-weight: lighter;
    line-height: 1;
    position: relative;

    &::after {
        content: 'o';
        position: absolute;
        font-size: 30px;
    }
}

.additional-section {
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 13px;

    .row {
        margin-bottom: 5px;
        display: flex;
    }

    .item {
        display: flex;
        flex-direction: column;
        flex: 1;

        .label {
            font-weight: bold;
        }
    }
}
